<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean name="lifecycleObject" class="org.mule.extension.spring.test.lifecycle.SpringLifecycleObject" init-method="init" destroy-method="destroy"/>

    <bean name="springObjectReferencingArtifactObject" class="org.mule.extension.spring.test.lifecycle.SpringLifecycleObject">
        <property name="reference" ref="artifactObject"/>
    </bean>

    <bean name="objectProvider" class="java.util.concurrent.atomic.AtomicLong" scope="prototype"/>

    <bean name="springObjectAware" class="org.mule.extension.spring.test.lifecycle.SpringAwareObject" />

</beans>
